#mainMenu {
  background: url('../assets/images/backgrounds/growlithe.jpg') no-repeat center center fixed;
}
#settingsMenu {
  background: url('../assets/images/backgrounds/dratini.jpg') no-repeat center center fixed;
}
#mapSelectorMenu {
  background: url('../assets/images/backgrounds/gastly.jpg') no-repeat center center fixed;
}
.menu {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;

  .wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .btn-big {
    // font-family: pokemonFont;
    font-size: 5vh;
    padding: 1.5vh 2vh;
    margin-bottom: 1vh;
  }
}
.menu.visible {
  top: 0;
}