<div id="gameControls" class="menu">
  <div class="wrapper">
    <div class="controlsContainer bg-secondary">
      <div class="card d-inline-block" style="width: 120px;">
        <div class="card-title text-center p-0">
          <h5 id="player-name" class="card-title text-nowrap">Player X</h5>
        </div>
        <div class="card-body text-center p-0">
          <span id="player-money" class="card-text">Money: $0</span>
          <span id="player-pokemon" class="card-text">Pokemon: 0</span>
        </div>
      </div>
      <a data-spawn="Squirtle" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Charmander" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Bulbasaur" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Pikachu" class="btn btn-primary btn-lg" href="#"></a>
    </div>
  </div>
</div>

<template id="template-spawn-pokemon">
<div class="btn-group-vertical text-center">
    <img src="" width="80%" style="margin-left:10%">
    <div class="w-100 p-0">
      <span class="card-title text-nowrap fw-bold">Pokemon</span>
    </div>
  </a>
  
  <a href="#" class="btn btn-primary level-up" style="width: 120px">
    <span class="card-text level">Level 1</span>
  </a>
  <a href="#" class="btn btn-primary spawn" style="width: 120px">
    <span class="card-text cost">$150</span>
  </a>
</div>
</template>