<div id="gameControls" class="menu">
  <div class="wrapper">
    <div class="controlsContainer bg-secondary">
      <a data-spawn="Rattata" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Pidgey" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Pikachu" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Mew" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Mewtwo" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Zapdos" class="btn btn-primary btn-lg" href="#"></a>
    </div>
  </div>
</div>