<div id="gameControls" class="menu">
  <div class="wrapper">
    <div class="controlsContainer bg-secondary">
      <div class="card d-inline-block" style="width: 120px;">
        <div class="card-body text-center p-0">
          <span id="player-name" class="card-title text-nowrap">Player X</span>
          <br/>
          <span id="player-money" class="card-text">Money: $0</span>
        </div>
      </div>
      <a data-spawn="Bulbasaur" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Charmander" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Squirtle" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Rattata" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Pidgey" class="btn btn-primary btn-lg" href="#"></a>
      <a data-spawn="Pikachu" class="btn btn-primary btn-lg" href="#"></a>
    </div>
  </div>
</div>

<template id="template-spawn-pokemon">
  <div class="card d-inline-block" style="width: 120px;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body text-center p-0">
      <span class="card-title text-nowrap">Pokemon</span>
      <br/>
      <span class="card-text cost">Cost: $150</span>
      <a href="#" class="btn btn-primary col-12 spawn">Spawn</a>
    </div>
  </div>
</template>